
- flash.each do |name, msg|
  %div= msg

- ENV.select{|i| i.match(/_KEY/)}.each do |key, val|
  - provider = key.gsub(/_KEY/, '').downcase
  %div
    = link_to "login via #{provider}", "/auth/#{provider}"
